body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #e0e5ec;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}